.overlay {
    color: black;
}

.goals-info p {
    font-size: 1.2em;
    margin: 0.5em 0;
}

.goals-info strong {
    color: #07ad90;
}

.no-goals button {
    border: none;
    color: white;
    background: #07ad90;
    padding: 0.75em 1em;
    font-weight: bold;
    transition: ease-in 0.3s;
    margin-top: 1em;
}

.no-goals button:hover {
    background: #025a4b;
}