.calories-section {
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
    margin: 5em auto;
}

.calculate-form {
    flex: 0 1 40%;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
    background: #E3EDDA;
    border-radius: 1em;
    padding: 0 1em;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calculate-form .form-row {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.calculate-form .form-row label {
    font-weight: bold;
    margin-bottom: 0.5em;
    color: #333;
}

.calculate-form .form-row input,
.calculate-form .form-row select {
    border: 1px solid #ccc;
    outline: none;
    border-radius: 0.3em;
    padding: 0.5em;
    margin-top: 0.3em;
    background-color: white;
    font-size: 1em;
    color: #333;
    transition: border-color 0.3s; 
}

.unit {
    position: absolute;
    top: 2.4em;
    right: 2em;
    color: #888;
}

.calculate-form .form-row input:focus,
.calculate-form .form-row select:focus {
    border-color: #07ad90;
}

.calculate-form .form-row select {
    background: #E3EDDA;
}

.calories-section button {
    border: none;
    background: #07ad90;
    color: white;
    padding: 1em 1.5em;
    margin: 1em auto;
    border-radius: 0.3em;
    transition: ease-in 0.2s;
}

.calories-section button:hover {
    background: #025a4b;
    cursor: pointer;
}