.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-top: 2em;
}

.pagination button {
    border: none;
    background: #07ad90;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.pagination button:hover {
    background: #025a4b;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.pagination button:disabled {
    background: #ccc;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

.pagination i {
    font-size: 1.2em;
}