.headers {
    padding: 0.5em 0px;
    border-bottom: 2px solid #005b99;
    margin-bottom: 1em;
}

.search-form {
    display: flex;
    gap: 0.5em;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 1em auto;
}

.search-form .form-row {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.search-form .form-row input {
    flex: 1 0 auto;
    line-height: 2;
    border: 1px solid #ccc;
    outline: none;
    border-radius: 0.3em;
    padding: 0.3em;
    margin-top: 0.3em;
}

.search-form .form-row input:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

.search-form button {
    border: none;
    background: #07ad90;
    color: white;
    padding: 0 1em;
    border-radius: 0.3em;
    transition: ease-in 0.2s;
}

.search-form button:hover {
    background: #025a4b;
    cursor: pointer;
}

.meal-type {
    display: flex;
    gap: 0.5em;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1em;
}

.meal-type p {
    width: 150px;
    padding: 0.75em 0.5em;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 0.3em;
    background-color: #f9f9f9;
}

.meal-type p:hover {
    border-color: #888;
}

.action-btns {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

.action-btns button {
    color: white;
    text-decoration: none;
    padding: 0.5em 0.75em;
    border: 2px solid #555;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.action-btns button:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
}

.action-btns .btn-create {
    background: #07ad90;
}


.no-results-message {
    padding: 1em;
    margin-top: 1em;
    color: #ff5751;
    background-color: #f9f9f9;
    border: 1px solid #ff5751;
    border-radius: 0.3em;
    text-align: center;
    font-size: 1.1em;
    font-weight: bold;
}