table {
    border-collapse: collapse;
    display: block;
}

.col-one {
    width: 500px;
    height: auto;
}

.col-two {
    width: 50px;
    height: auto;
}

.col-six {
    width: 30px;
    height: auto;
}

table tbody {
    padding: 0.5em;
}

table tbody tr {
    background: #eee;
    text-align: center;
}

tr td {
    border: 1px solid white;
    padding: 0.5em;
}

table tbody .first {
    text-align: left;
}