
.result {
    flex: 1 0 40%;
    background: #E3EDDA;
    border-radius: 1em;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.result-row {
    display: flex;
    font-size: 16px;
    gap: 1em;
    margin-top: 1em;
}

.result-row p {
    flex: 1 0 100px;
    padding: 0.75em 0.5em;
    border: 2px solid #ccc;
    border-radius: 0.3em;
    background-color: #f9f9f9;
    font-weight: bold;
    text-align: center;
    color: #333;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, color 0.3s;
}

.result-row p:hover {
    background-color: #e0e0e0; 
    color: #000;
}

.result-row p:first-child {
    background-color: #e3edda;
    color: #555;
}

.result-row p:last-child {
    background-color: #07ad90;
    color: white;
}

.result-row p:hover {
    transform: scale(1.05); 
}